.card{
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0px 4px 5px #666;
  transition: .1s ease;
}

.card-img{
  width: 100%;
  height: 175px;
}

.card-img img{
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0px 0px;
}

.card-main{
  padding: 16px;
  position: relative;
}

.card-main a.tag{
  color: #FF4081;
  transition: .3s ease;
}

.card-main a.tag:hover{
  text-decoration: underline;
}

.card-main .date{
  color: #999;
  margin-left: 20px;
}

.card-main .title{
  color: #2d2d2d;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-main .title:hover{
  color: #666;
}

span.price{
  color: #289216;
  font-weight: bold;
  display: block;
}

.mini-fab{
  color: #fff;
  position: absolute;
  right: 10px;
  top: -18px;
  background-color: #FF4081;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px #999;
  transition: .3s ease;
}

.mini-fab i{
  color: #fff;
}


.mini-fab:hover{
  background-color: #666;
}



.space{
  padding: 8px;
}
