body{
  background-color: #eee;
}

#document{
  background-color: #fff;
  padding: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
  box-shadow: 2px 2px 4px #ccc;
  border-radius: 10px;
}

h1.doc-title{
  color: #FF4081;
  font-size: 42px;
  text-align: center;
}

span.doc-tag{
  color: #3F51B5;
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
  margin-left: 50px;
}

span.doc-tag:hover{
  color: #757575;
}

span.doc-date{
  color: #666;
  text-align: center;
  display: block;
}

.doc-img{
  margin-top: 12px;
  max-height: 400px;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  border-radius: 10px;
}

.title{
  color: #666;
  font-size: 26px;
}

.line{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

p{
  color: #3d3d3d;
  margin-top: 12px;
}

p.center{
  text-align: center;
}

.subtitle{
  color: #222;
  font-size: 22px;
  margin-top: 24px;
}

.step{
  color: #fc503c;
  display:block;
}

.step:before{
  content: "♦ ";
}

code{
  background-color: #EEE;
  display: block;
  padding: 15px;
  margin-top: 10px;
  color: #673AB7;
  border-bottom: 2px solid #FF4081;
  font-weight: bold;
}